NodeRed/motorCont.json
[{"id":"b9ee59e2.0ceae8","type":"tab","label":"Motor Control","disabled":false,"info":""},{"id":"9b0e8411.d76068","type":"ui_button","z":"b9ee59e2.0ceae8","name":"START","group":"ce142a6.2af99d8","order":0,"width":"3","height":"3","passthru":true,"label":"START","tooltip":"","color":"Black","bgcolor":"Green","icon":"","payload":"1","payloadType":"str","topic":"true","x":240,"y":280,"wires":[["16f0e4a7.a5cdfb","b43a58ed.fff5e8","2358be11.5d58c2","be45b943.79b8e8","c9fd211f.9668"]],"outputLabels":["True"]},{"id":"a75d3ecd.a6e5f","type":"ui_button","z":"b9ee59e2.0ceae8","name":"STOP","group":"ce142a6.2af99d8","order":1,"width":"3","height":"3","passthru":true,"label":"STOP","tooltip":"","color":"Black","bgcolor":"Red","icon":"","payload":"0","payloadType":"str","topic":"true","x":250,"y":100,"wires":[["da5f87ed.359818","b43a58ed.fff5e8","2358be11.5d58c2","be45b943.79b8e8","c9fd211f.9668"]]},{"id":"b43a58ed.fff5e8","type":"rpi-gpio out","z":"b9ee59e2.0ceae8","name":"","pin":"22","set":true,"level":"0","freq":"","out":"out","x":660,"y":100,"wires":[]},{"id":"da5f87ed.359818","type":"debug","z":"b9ee59e2.0ceae8","name":"STOP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"jsonata","x":230,"y":160,"wires":[]},{"id":"be45b943.79b8e8","type":"debug","z":"b9ee59e2.0ceae8","name":"PIN 22","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":280,"wires":[]},{"id":"16f0e4a7.a5cdfb","type":"debug","z":"b9ee59e2.0ceae8","name":"START","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"jsonata","x":240,"y":220,"wires":[]},{"id":"2358be11.5d58c2","type":"BDebug","z":"b9ee59e2.0ceae8","name":"Debug","x":650,"y":180,"wires":[]},{"id":"5f45639c.69c06c","type":"inject","z":"b9ee59e2.0ceae8","name":"Start","topic":"true","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["9b0e8411.d76068"]]},{"id":"98f28279.36ea3","type":"inject","z":"b9ee59e2.0ceae8","name":"Stop","topic":"true","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["a75d3ecd.a6e5f"]]},{"id":"c9fd211f.9668","type":"ui_gauge","z":"b9ee59e2.0ceae8","name":"Pin On","group":"ce142a6.2af99d8","order":2,"width":0,"height":0,"gtype":"gage","title":"Motor","label":"Running","format":"{{value}}","min":"0","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":360,"wires":[]},{"id":"ce142a6.2af99d8","type":"ui_group","z":"","name":"Motor Control","tab":"58243173.67935","disp":true,"width":"6","collapse":false},{"id":"58243173.67935","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]